@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 2, 255, 226, 100%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --text-color-1: var(--primary);
    --text-color-2: 234, 84%, 68%;
    --text-color-3: 285, 99%, 51%;
    --text-color-4: 266, 100%, 64%;
    --muted-figma: 252, 252, 252, 100%;
    --card-clients: 246, 246, 246, 100%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 2, 255, 226, 100%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --text-color-1: var(--primary);
    --text-color-2: 234, 84%, 68%;
    --text-color-3: 285, 99%, 51%;
    --text-color-4: 266, 100%, 64%;
    --muted-figma: 24, 24, 24, 25%;
    --card-clients: 19, 19, 19, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .check {
    @apply border-2 border-red-500;
  }
  .grid-tem {
    @apply grid grid-cols-4;
  }
  .nav {
    @apply fixed z-20 flex h-[100dvh] flex-col overflow-y-auto overflow-x-hidden bg-background;
    transition: width 0.2s ease-in-out;
  }
  .navigation {
    @apply mx-[24px] mb-[24px] flex flex-1 flex-col gap-2 sm:gap-5;
    /* height: calc(100% - 10px); */
  }
  .nav-items {
    @apply flex cursor-pointer items-center gap-[48px] overflow-hidden whitespace-nowrap rounded-md p-3 text-sm sm:p-[16px];
  }
  .nav-items:hover {
    @apply bg-muted;
  }
  .close-nav {
    transform: rotateY(180deg);
  }
  .blinds {
    @apply fixed left-0 top-0 z-10 h-screen w-0 transition-opacity duration-500;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
  }
  .toggle-logo-btn {
    @apply h-[40px] w-[30px] cursor-pointer transition-all;
  }
  .logo-container {
    @apply relative mx-[24px] mb-10 mt-[35px] flex items-center justify-center sm:mb-[75px];
  }
}
html {
  scroll-behavior: smooth;
}
